/* Hero Section */
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: solid black;
    /* Cursor effect */
    animation: blink-caret 0.75s step-end infinite;
    word-wrap: break-word;
    /* Ensure words break and wrap correctly */
}

.hero {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #CBE3F7;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 100%;
}

.hero_header {
    text-align: center;
    color: #6A33E6;
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    /* Default font size */
}

.blue {
    color: #0B7AEF;
}

.light {
    color: #0B3ADC;
}

.tagline {
    color: #16273d;
    margin-top: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
    /* Default font size */
}

.about {
    width:85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.about h2 {
    color: #9dc9fce0;
    font-size: 4em;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.about p {
    color: white;
    font-size: 1.6em;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .hero_header {
        font-size: 1.67rem;
    }

    .tagline {
        font-size: 1.25rem;
    }

    .about h2{
        font-size: 3.6em;
        letter-spacing: 2px;
    }
}

@media (max-width: 768px) {
    .hero_header {
        font-size: 1.53rem;
    }

    .tagline {
        font-size: 1rem;
    }
    .about h2{
        font-size: 3em;
        letter-spacing: 2px;
    }
}

@media (max-width: 480px) {
    .hero_header {
        font-size: 1.22rem;
        /* Adjust width for smaller screens */
        letter-spacing: 2px;
    }

    .tagline {
        font-size: 0.675rem;
    }
    .about h2{
        font-size: 2.5em;
        letter-spacing: 2px;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}
